<table style="height: 100px;">
  <tbody>
    <tr>
      <td class="align-middle">
        <img class="img-rounded" src="<%= @rando_cat %>"/>
      </td>
      <td class="align-middle"><img class="img-rounded" src ="/images/dog.jpeg"/></td>
    </tr>
  </tbody>
</table>

<form action='cast' method='post'>
  <ul class='unstyled'>
    <% Choices.each do |id, text| %>
        <label class='radio'>
          <input type='radio' name='vote' value='<%= id %>' id='vote_<%= id %>' />
          <%= text %>
        </label>
    <% end %>
  </ul>
  <button type='submit' class='btn btn-primary'>Vote!</button>
</form>
