<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= @rando_cat %>"/>
    </div>
    <div class="col-md-4">
      <div id="rando_dog">
    </div>
  </div>
</div>

<form action='cast' method='post'>
  <ul class='unstyled'>
    <% Choices.each do |id, text| %>
        <label class='radio'>
          <input type='radio' name='vote' value='<%= id %>' id='vote_<%= id %>' />
          <%= text %>
        </label>
    <% end %>
  </ul>
  <button type='submit' class='btn btn-primary'>Vote!</button>
</form>
